<%= link_to 'Make a new rating', new_rating_path %>

<h2>List of ratings</h2>

<div id="ratings">
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating.to_s %> <%= link_to rating.user.username, rating.user %> </li>
        <% end %>
    </ul>
</div>
