<%= link_to 'Make a new rating', new_rating_path %>

<h2>List of ratings</h2>

<div id="ratings">
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating.to_s %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> </li>
        <% end %>
    </ul>
</div>
