<p>
  <strong>Name: </strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description: </strong>
  <%= @style.description %>
</p>

<p>
  <strong>Beers:</strong>
  <ul>
    <% @beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
</p>
